# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a7961cbdb954d1135f656ce
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a7961cbdb954d1135f656ce
